.btn{
    background-color: rgb(200, 166, 166);
    height: 30px;
    width: 70px;
    margin: 5px;
}

.parent{
    color: white;
    width:300px;
    margin: auto;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid pink;
    align-items: center;

}
.outerDiv{
    height: 705px;

background-image: image-set("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYVS6wUd7RuA83ProgFrqrydfEjrEUsHgt0Q&usqp=CAU");

}


